body{
    background-color: #1D2D50;
    color: #EAE3DE ;
}
#Table1{
    background-color: #EAE3DE;
    color: #1D2D50;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

